/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredericka+the+Great&family=Niramit&family=Shadows+Into+Light&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  /*colors*/
  --mango: hsl(37, 82%, 61%);
  --watermelon: hsl(352, 60%, 55%);
  --blueberry: hsl(188, 100%, 27%);
  --pistachio: hsl(91, 33%, 65%);
  --soursop: hsl(39, 70%, 88%);
  --peach: hsl(11, 56%, 70%);
  /*fonts*/
  --shadows: "Shadows Into Light", cursive;
  --bungee: "Bungee Shade", cursive;
  --niramit: "Niramit", sans-serif;
  --federicka: "Fredericka the Great", cursive;
}

/* HEADER */
header {
  padding: 2rem;
  text-align: center;
  height: 6rem;
  margin: 2rem 0 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--federicka);
  font-size: 4rem;
  letter-spacing: 1rem;
  color: var(--watermelon);
  font-weight: normal;
}

/* Navigation */

.navUl {
  padding: 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin: 5rem 0;
}

.navLi {
  width: 10rem;
  border: 1px solid var(--mango);
  background-color: hsla(34, 78%, 91%, 0.2);
  padding: 0.2rem;
  border-radius: 20px;
}

.navLink {
  text-decoration: none;
  color: var(--peach);
  font-family: var(--niramit);
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

.navLi:hover {
  background-color: var(--pistachio);
  border-color: var(--peach);
}
.navLi:active {
  background-color: var(--soursop);
  border: unset;
}
/* MAIN CONTENT */

main section {
  min-height: 100px;
  min-width: 80vw;
  margin-bottom: 5rem;
}

h2 {
  font-family: var(--bungee);
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  min-width: 90vw;
  color: var(--watermelon);
  margin-left: 5rem;
  border-bottom: hsla(37, 82%, 61%, 0.3) 1px solid;
}

/* COLORS SECTION*/
#colors {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colorsPalette {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  padding: 2rem;
  margin-top: 5rem;
  max-width: 90vw;
}
.color {
  width: 160px;
  height: 90px;
  border: 1px black solid;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(0, 38%, 28%);
}

.colorName {
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.colorNumber {
  text-transform: uppercase;
}

.color:hover {
  transform: scale(1.2);
}

/* color palette */
#mango {
  background-color: var(--mango);
}

#watermelon {
  background-color: var(--watermelon);
}

#blueberry {
  background-color: var(--blueberry);
}

#pistachio {
  background-color: var(--pistachio);
}

#soursop {
  background-color: var(--soursop);
}

#peach {
  background-color: var(--peach);
}

.colorName {
  font-weight: bold;
}
.colorNumber {
}

/* FONTS */

#fonts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fontsFamily {
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 8rem;
}
.font {
  width: 300px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}
.font:hover {
  transform: scale(1.2);
}

.fontName {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.4rem;
}

.font p {
  margin-bottom: 2rem;
}

#shadows {
  font-family: var(--shadows);
}

#niramit {
  font-family: var(--niramit);
}

#federicka {
  font-family: var(--federicka);
}

#bungee {
  font-family: var(--bungee);
  line-height: 1.4rem;
}
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
/* TEXT STYLES */

#styles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textStyles {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
  margin-top: 8rem;
}

.style {
  text-align: left;
  width: 60vw;
}

.styleTitle {
  margin-bottom: 2rem;
  font-weight: normal;
}

.styleProperties {
  list-style: none;
  text-align: left;
  line-height: 3rem;
  font-size: 1.5rem;
}

.propertie {
  text-transform: capitalize;
  font-weight: bold;
}

#mainHeading {
  font-family: var(--federicka);
  font-size: 4rem;
  letter-spacing: 1rem;
  color: var(--watermelon);
}

#subHeading {
  font-family: var(--bungee);
  letter-spacing: 0.5rem;
  font-size: 1.5rem;
  max-width: 90vw;
  color: var(--watermelon);
  border-bottom: hsla(37, 82%, 61%, 0.3) 1px solid;
  font-weight: bold;
}

#paragraph {
  color: var(--blueberry);
  font-size: 1.5rem;
}

#anchor {
  text-decoration: none;
  color: var(--peach);
  font-family: var(--niramit);
  font-weight: bold;
  letter-spacing: 0.2rem;
}

/* MEDIA QUERIES*/

@media screen and (max-width: 800px) {
  nav {
    visibility: hidden;
  }

  header {
    margin-bottom: 6rem;
  }
  h1 {
    margin: 0;
    font-size: 2rem;
  }

  main section {
    margin-bottom: 2rem;
  }

  h2 {
    margin: 1rem 0 2rem 1rem;
    font-size: 1rem;
  }

  .colorsPalette {
    margin-top: 1rem;
    gap: 2rem;
  }
  .color {
    width: 100px;
    height: 90px;
  }

  .colorName {
    font-size: 0.6em;
  }

  .fontsFamily {
    margin-top: 1rem;
    gap: 2rem;
  }

  .font {
    font-size: 1rem;
  }
  .textStyles {
    margin-top: 1rem;
    gap: 3rem;
  }

  .styleProperties {
    font-size: 1rem;
  }
  #mainHeading {
    font-size: 2rem;
  }

  #subHeading {
    font-size: 1rem;
  }
}
